@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.25);
  }
}

.animate-pulse-slow {
  animation:
    pulse-slow 8s ease-in-out infinite,
    shakeY 1s ease-in-out infinite;
}
